


<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style='padding-left:20px'>CCMS</a>
          </div>
          <ul class="nav navbar-nav">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/allEquip">All Equipments</a></li>
          </ul>
        </div>
</nav>
<div class="container-fluid" style="margin-top:50px">
        <router-outlet></router-outlet>
</div>
<hr>
<footer>
        <p class="footer">&copy;2018 - RD.AS. Application </p> 
</footer>
