/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* Add Material Icons */
/* @import '~https://fonts.googleapis.com/icon?family=Material+Icons'; */

ิbody{
    width: 100%;
}
.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.node alarm {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}
[hidden] { display: none !important;}
