<div>
  <h2 md-dialog-title>{{nameBuilding}}</h2>
  <hr>
  <mat-dialog-content>
    <mat-list-item *ngFor="let serv of arrayServices" >
      <mat-grid-list cols=2>
          <div class="example-button-row">
              <li>{{serv.name}} </li>
              <button mat-icon-button color='primary'>
                  <mat-icon>favorite</mat-icon>
              </button>
          </div>
      </mat-grid-list>
   </mat-list-item>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button md-raised-button (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
  </mat-dialog-actions>
</div>