
<div class="modal-header">
  <h4 class="modal-title pull-left" style="padding-left:0px">
      {{nameBuilding}} Building !
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <strong style="padding-left:5px">List of Services</strong><br><br>
    <div class="list-group" *ngFor="let serv of arrayServices">
      <div class="row">
          <div class="col-md-3">
              <a  class="list-group-item" (click)='openListD3Dialog(serv)' [ngStyle]="changeBackGround(serv.status)">
                    <b>{{serv.name}}</b>
              </a>
          </div>
          <!-- <div class="col-md-3" *ngIf="serv.status==1" style="padding:10px; color:rgb(150, 218, 123)">
                <i class="fa fa-thumbs-up">{{updateStatus(serv.status)}}</i>
          </div>
          <div class="col-md-3" style="padding:10px; color:Tomato" *ngIf="serv.status!=1">
                <i class="fa fa-exclamation-triangle">{{updateStatus(serv.status)}}</i>
          </div> -->
          <div class="col-md-6" [hidden]="isHided" style="padding-top:5px">
            <button type="button" class="btn btn-info" (click)='DeleteService(serv)' tooltip="Delete Service." >
                    <i class="fa fa-trash fa-lg"></i>
            </button>
          </div>
      </div>
    </div >
    <br>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-info" (click)="isHided = !isHided">Edit
                    <i class="fa fa-scissors" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<hr>
<div class="row" [hidden]="isHided">
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-md" 
      (click)="isOpen = !isOpen">Add Service
    </button>
  </div>
  <div class="col-md-9">
      <div [collapse]="isOpen">
          <div class="row">
              <div class="col-md-9">
                  <mat-form-field >
                      <input matInput placeholder="Service Name" [(ngModel)]="ServiceName" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </div>
          </div>
          <div class="row"  >
              <div class="col-md-6">
                  <strong>Equipment</strong>
                </div>
          </div>
          <div class="row"  >
              <div class="col-md-12">
                  <form [formGroup]="invoiceForm">
                      <div formArrayName="itemRows">
                          <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"  [formGroupName]="i" >
                            <div class="row">
                                <div class="col-md-9">
                                    <mat-form-field>
                                        <mat-select placeholder="Equipment" formControlName="name" >
                                            <mat-option *ngFor="let equip of arrayEquipment" [value]=equip.name >
                                                {{ equip.name }}
                                              </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <button *ngIf="invoiceForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">-</button>
                                </div>
                            </div>
                          </div>
                      </div>
                  </form>
                </div>
          </div>
          <div class="row">
            <div class="col-md-9">
                <button type="button" class="btn btn-primary" (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
                <button type="button" class="btn btn-success" (click)="addNewRow()" >+</button>
            </div>
          </div>
          <!-- {{invoiceForm.value|json}} -->
      </div>
  </div>
</div>
